/* CKELLEY INIT LIB - COPYRIGHT 2013 */

@mixin init(){
	*{
		padding:0px;
		border:0px;
		margin:0px;
		font-family:inherit;
		font-weight:inherit;
	}
	*:before,*:after{
		display:block;
		position:absolute;
		content:"";
	}
	a{
		text-decoration:none;
		color:inherit;
	}
}